# R refresher

In [1]:
text <- "hello world"
print(text) # print is an R function. Here it prints text

[1] "hello world"

In [2]:
# vectors can be defined in multiple ways
# using the vector() function

v <- vector("numeric", length=5)
v

[1] 0 0 0 0 0

In [3]:
# using the c() function

w <- c(2,4)
w

[1] 2 4

In [5]:
# using the c() function

w.1 <- c(TRUE, FALSE)
w.1

[1]  TRUE FALSE

In [10]:
# using the c() function

w.2 <- c("a", "b", "c")
w.2

[1] "a" "b" "c"

In [9]:
w.3 <- 3:7
w.3

[1] 3 4 5 6 7

# List
Special type of vector that can contain different elements

In [12]:
l <- list("a", 4, TRUE)
l

[[1]]
[1] "a"

[[2]]
[1] 4

[[3]]
[1] TRUE

# Matrix

In [13]:
#how to define an empty matrix of n rows and n columns
m <- matrix(nrow = 2, ncol = 4)
m

     [,1] [,2] [,3] [,4]
[1,] NA   NA   NA   NA
[2,] NA   NA   NA   NA

In [14]:
#creating matrix by binding columns
x <- 1:3
y <- 5:7
xy <- cbind(x,y)
xy

     x y
[1,] 1 5
[2,] 2 6
[3,] 3 7

In [15]:
yx <- rbind(x,y)
yx

  [,1] [,2] [,3]
x 1    2    3
y 5    6    7

# Data frames
used to stores data with multiple rows and columns.
they can stores different sort of data/elements (Numeric, Logical etc…).
They are created by reading data of csv,excel or table format.
They are also created by binding columns to each other or transforming matrices into dataframes using the dataframe() function.

In [16]:
x  <- data.frame(price  =  c(2,-3,5,6,-5) , bar  =  c("up","down", "up", "up", "down"))
x

  price bar
1  2    up
2 -3    down
3  5    up
4  6    up
5 -5    down

We want to add a new column to X called "candletype"

In [26]:
#In simple terms, rep in R, or the rep() function replicates numeric values, or text,
# or the values of a vector for a specific number of times.
rep(1,5)

[1] 1 1 1 1 1

In [28]:
x$candletype <- rep(0,5)
x

  price bar  candletype
1  2    up   0
2 -3    down 0
3  5    up   0
4  6    up   0
5 -5    down 0

Now we want to assign negative numbers in Price with a bear candle and positive numbers with a bull candle

In [31]:
x$candletype <- ifelse(x$price < 0, "bear", "bull")
x

  price bar  candletype
1  2    up   bull
2 -3    down bear
3  5    up   bull
4  6    up   bull
5 -5    down bear

Subsetting: Say we want to filter the data based on some condition or we want to only select a few rows.

In [32]:
#Select only the 1st 3 rows
x_3row <- x[1:3,]
x_3row

  price bar  candletype
1  2    up   bull
2 -3    down bear
3  5    up   bull

In [33]:
#Select only the 1st 2 columns
x_2cols <- x[,1:2]
x_2cols

  price bar
1  2    up
2 -3    down
3  5    up
4  6    up
5 -5    down