In [1]:
# Importing Data

# rio combines all of R's import functions into one simple utility

# Packages
pacman::p_load(pacman, dplyr, GGally, ggplot2, ggthemes, ggvis, httr, lubridate, plotly, rio, rmarkdown, shiny, stringr, tidyr)

also installing the dependencies ‘generics’, ‘tidyselect’

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

dplyr installed

also installing the dependencies ‘colorspace’, ‘isoband’, ‘hms’, ‘farver’, ‘labeling’, ‘munsell’, ‘viridisLite’, ‘cpp11’, ‘ggplot2’, ‘forcats’, ‘gtable’, ‘plyr’, ‘progress’, ‘RColorBrewer’, ‘reshape’, ‘scales’, ‘tidyr’

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

GGally installed

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

ggthemes installed

also installing the dependencies ‘sass’, ‘jquerylib’, ‘httpuv’, ‘xtable’, ‘sourcetools’, ‘bslib’, ‘shiny’

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

ggvis installed

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

lubridate installed

also installing the dependency ‘data.table’

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

plotly installed

also installing the dependencies ‘rematch’, ‘readr’, ‘cellranger’, ‘haven’, ‘readxl’, ‘openxlsx’

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

rio installed

also installing the dependency ‘tinytex’

The downloaded binary packages are in
	/var/folders/rh/pfd6hrw52s35skb7d44l36nr0000gn/T//RtmpB6ElpN/downloaded_packages

rmarkdown installed

In [3]:
# CSV
rio_csv <- import("ImportingData_Datasets/mbb.csv")
head(rio_csv)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [4]:
# TXT
rio_txt <- import("ImportingData_Datasets/mbb.txt")
head(rio_txt)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [6]:
# Excel XLSX
rio_xlsx <-import("ImportingData_Datasets/mbb.xlsx")
head(rio_xlsx)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [7]:
# Data Viewer
?View
View(rio_csv)

ERROR: Error in View(rio_csv): ‘View()’ not yet supported in the Jupyter R kernel

In [8]:
# Text Files
r_txt1 <- read.table("ImportingData_Datasets/mbb.txt", header=TRUE)

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“number of items read is not a multiple of the number of columns”

In [10]:
r_txt1 <- read.table("ImportingData_Datasets/mbb.txt", header=TRUE, sep="\t")
head(r_txt1)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [14]:
# CSV Files
trends.csv <- read.csv("ImportingData_Datasets/mbb.csv", header=TRUE)
head(trends.csv)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12